@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
html,body{
  box-sizing:border-box;
  background-color: #9b34eb;
  font-family:'Lobster', cursive;
}

h1{
font-size: 80px;
text-align: center;
color:#5f088a;
}

.fireflies2{
  width:100px;
  height:100px;
  margin-right: 700px;
}

.fireflies3{
  width:100px;
  height:100px;
  margin-right: 800px;
}

.fireflies1{
  width:50px;
  height:50px;
  margin-left: 600px;

}

.fireflies4{
  width:50px;
  height:50px;
  margin-left: 1000px;

}

.fireflies{
  width:150px;
  height:150px;

}

.butterfly1{
  width:500px;
  height:500px;
}

.butterfly2{
  width:400px;
  height:400px;
}

.butterfly3{
  width:900px;
  height:900px;
}

.right{
  float: right;
}

.center{
  display:block;
  margin-left:auto;
  margin-right: auto;
  /* width:50%; */
}

.jar{
  width:700px;
  height:1000px;
  margin-left:500px;
  margin-right:500px;
}
